{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">mail_outline</i>
            </div>
            <div class="card-content">
                <h4 class="card-title">Formulario de registro de Inspeccion</h4>
                {% if form.errors %}
                <div class="alert alert-danger alert-with-icon" data-notify="container">
                    <i class="material-icons" data-notify="icon">notifications</i>
                    <button type="button" aria-hidden="true" class="close">
                        <i class="material-icons">close</i>
                    </button>
                    <span data-notify="message">{{form.errors}}</span>
                </div>
                {% endif%}
                <form method="POST">{% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-2">
                            <h6 >N. Inspeccion</strong></h6>
                            {{form.numero_inspeccion}}
                        </div>
                        <div class="col-md-2">
                            <h6>Fecha Apertura</strong></h6>
                            {{form.fecha_apertura}}
                        </div>
                        <div class="col-md-2">
                            <h6>Fecha Cierre</h6>
                            {{form.fecha_cierre}}
                        </div>
                        
                    </div> 
                    
                    <div class="form-group label-floating">
                        <label class="control-label">Nombre del proyecto</label>
                        {{form.nombre_proyecto}}
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label">Alcance de la inspeccion</label>
                        {{form.alcance_inspeccion}}
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label">Observaciones</label>
                        {{form.observaciones}}
                    </div>
                    <button type="submit" class="btn btn-fill btn-rose">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}