{% extends 'base.html' %}


{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-icon" data-background-color="purple">
            <i class="material-icons">assignment</i>
        </div>
        <div class="card-content">
            <h4 class="card-title">Lista de Inspecciones</b></h4>
            <div class="toolbar">
                <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables">
                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                    <thead>
                        <tr>
                            <th>N.Ins</th>
                            <th>Apertura</th>
                            <th>Cierre</th>
                            <th>Ciudad</th>
                            <th>Proyecto</th>
                            
                            
                            
                            <th class="disabled-sorting text-right">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for p in listaInspeccion %}
                        <tr>
                            
                            <td>{{ p.numero_inspeccion}}</td>
                            <td>{{ p.fecha_apertura}}</td>
                            <td  {% if  p.fecha_cierre  %}
                              class="success"
                            {% else %}
                              class="warning"
                            {% endif %}
                             >{{ p.fecha_cierre|default_if_none:'En Proceso' }}</td>
                            <td>{{ p.ciudad}}</td>
                            <td>{{ p.nombre_proyecto}}</td>
                            
                            
                            <td class="text-right">
                                <a class="btn btn-simple btn-success btn-icon like"  id="btnModal" data-toggle="modal" data-target="#myModal{{ forloop.counter }}"><i class="material-icons">add</i></a>
                                <a href="{% url 'Inspeccion_update' p.pk %}" class="btn btn-simple btn-info btn-icon like"><i class="material-icons">border_color</i></a>
                                <a href="{% url 'Inspeccion_imprimir' p.pk %}" class="btn btn-simple btn-info btn-icon like"><i class="material-icons">local_printshop</i></a>
                                <a href="{% url 'Inspeccion_delete' p.pk %}" class="btn btn-simple btn-danger btn-icon remove"><i class="material-icons">close</i></a>
                            </td>
                        </tr>
                        
                        <div class="modal fade" id="myModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    
                                    <div class="modal-body">
                                        <div class="card">
                                            <div class="card-header card-header-icon" data-background-color="purple">
                                                <i class="material-icons">assignment</i>
                                            </div>
                                            <div class="card-content">
                                                <h4 class="card-title">Informacion Adicional</h4>
                                                <div class="toolbar">
                                                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                                                </div>
                                                <div class="material-datatables">
                                                    <h6><b> Alcance de Inspeccion</b></h6>
                                                    <p>{{ p.alcance_inspeccion}}</p>
                                                    <br>
                                                    
                                                    <h6 ><b>Observaciones</b> </h6>
                                                    {{p.observaciones}}
                                                    
                                                </div>
                                            </div>
                                            <!-- end content-->
                                        </div>
                                        
                                    </div>
                                    <div class="modal-footer">
                                        
                                        <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Finalizar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end content-->
    </div>
    <!--  end card  -->
</div>
{% endblock content %}
