{% extends 'base.html' %}


{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-icon" data-background-color="purple">
            <i class="material-icons">assignment</i>
        </div>
        <div class="card-content">
            <h4 class="card-title">Lista de Asistentes</b></h4>
            <div class="toolbar">
                <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables">
                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                    <thead>
                        <tr>
                            <th>Cedula</th>
                            <th>Inspeccion</th>
                            <th>Empresa</th>
                            <th>Nombre/Apellido</th>
                            <th>Cargo</th>
                            
                            <th class="disabled-sorting text-right">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for p in listaAsistentes %}
                        <tr>
            
                            <td>{{ p.cedula}}</td>
                            <td>{{ p.inspeccion}}</td>
                            <td>{{ p.empresa}}</td>
                            <td>{{ p.nombre_apellido}}</td>
                            <td>{{ p.cargo}}</td>
                           
                            
                            <td class="text-right">
                                <a class="btn btn-simple btn-success btn-icon like"  id="btnModal" data-toggle="modal" data-target="#myModal{{ forloop.counter }}"><i class="material-icons">add</i></a>
                                <a href="{% url 'Asistente_update' p.pk %}" class="btn btn-simple btn-info btn-icon like"><i class="material-icons">border_color</i></a>
                                <a href="{% url 'Asistente_delete' p.pk %}" class="btn btn-simple btn-danger btn-icon remove"><i class="material-icons">close</i></a>
                            </td>
                        </tr>
                        
                        <div class="modal fade" id="myModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    
                                    <div class="modal-body">
                                        <div class="card">
                                            <div class="card-header card-header-icon" data-background-color="purple">
                                                <i class="material-icons">assignment</i>
                                            </div>
                                            <div class="card-content">
                                                <h4 class="card-title">Informacion Adicional</h4>
                                                <div class="toolbar">
                                                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                                                </div>
                                                <div class="material-datatables">
                                                    <h6><b> Alcance de Inspeccion</b></h6>
                                                    <p></p>
                                                </div>
                                            </div>
                                            <!-- end content-->
                                        </div>
                                       
                                    </div>
                                    <div class="modal-footer">
                                        
                                        <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Finalizar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end content-->
    </div>
    <!--  end card  -->
</div>
{% endblock content %}
