{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">mail_outline</i>
            </div>
            <div class="card-content">
                <h4 class="card-title">Formulario de registro de Asistentes</h4>
                {% if form.errors %}
                <div class="alert alert-danger alert-with-icon" data-notify="container">
                    <i class="material-icons" data-notify="icon">notifications</i>
                    <button type="button" aria-hidden="true" class="close">
                        <i class="material-icons">close</i>
                    </button>
                    <span data-notify="message">{{form.errors}}</span>
                </div>
                {% endif%}
                <form method="POST">{% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-2">
                            <h6>Cedula</h6>
                            {{form.cedula}}
                        </div>
                        
                        <div class="col-md-2">
                            <h6>Empresa</strong></h6>
                            {{form.empresa}}
                        </div>
                        <div class="col-md-2">
                            <h6>Cargo</h6>
                            {{form.cargo}}
                        </div>
                        <div class="col-md-2">
                            <h6 >Inspeccion</strong></h6>
                            {{form.inspeccion}}
                        </div>
                    </div> 
                    
                    <div class="form-group label-floating">
                        <label class="control-label">Nombre del proyecto</label>
                        {{form.nombre_apellido}}
                    </div>
                   
                    <button type="submit" class="btn btn-fill btn-rose">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
  <script>
        $(document).ready(function() {
            $('#inspeccion').select2({placeholder: 'Seleccione la inspeccion', width:"250px"});
            
            
        });
        
    </script>
{% endblock js %}