 #text {
            font-family: sans-serif;
            font-size: 3em;
            line-height: 1em;
            text-align: center;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        #text:hover {
            cursor: default;
        }
        #text .wrapper {
            display: inline-block;
            top: -900px;
            position: relative;
            height: 150px;
            /* default */
            width: 90px;
            /* default */
            transition: ease 0.3s all;
        }
        #text .wrapper span {
            position: absolute;
            top: 0;
            right: 0;
            transition: ease 0.3s all;
        }
        #text .wrapper span.letter-2 {
            color: rgba(0, 102, 255, 0.699);
        }
        #text .wrapper span.letter-1 {
            color: rgba(255, 255, 255, 0.877);
            z-index: 1;
        }
        #text .wrapper span.letter-1:hover {
            top: -3px;
            right: -3px;
        }
        #text .wrapper span.letter-1:hover ~ .letter-2 {
            top: 3px;
            right: 3px;
        }
        #text .wrapper span.space {
            padding: 0;
            min-width: 10px;
            display: inline-block;
        }