{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Inspeccion</title>
    <base href="/">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static '/img/apple-icon.png' %}" />
    <link rel="icon" type="image/png" href="{% static '/img/favicon.png' %}" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="{% static '/css/material-dashboard.css' %}" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static '/css/demo.css' %}" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="{% static '/css/font-awesome.css' %}" rel="stylesheet" />
    <link href="{% static '/css/google-roboto-300-700.css' %}" rel="stylesheet" />
    
</head>




<body onclick="window.print()">
    
    <div class="col-md-12">
        <table   style="width:100%">
            <tr>
                <td><img  src="{% static '/img/faces/avatar.png' %}" style="width:100px; height: 90px; float: right; " > </td> 
                <td style="float: left;  padding-left:20px;  padding-top: 20px;"> <b><h4>ACTA DE APERTURA Y CIERRE DE <br> INSPECCION DE INSTALACIONES</h4></b>  </td>
            </tr>
            
        </table>
    </div>
    
    <div class="col-md-12" >
        <div class="card">
            
            <label id="id" style="display: none;">{{ object.pk }}</label>
            <form method="get" action="#" class="form-horizontal">
                
                <div class="card-content">
                    <table  cellspacing="0" width="100%" style="width:100%" border="1px">
                        <thead>
                            <tr>
                                
                                <th><center>Fecha de apertura y cierre</center> </th>
                                <th><center>Nombre del inspector</center> </th>
                                <th><center>N° Inspeccion</center> </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                
                                <td> <center>{{ object.fecha_apertura}} - {{ object.fecha_cierre }}</center> </td>
                                <td> <center>ALVARO ANDRES MORENO MORILLO</center> </td>
                                <td> <center> {{ object.numero_inspeccion}}</center></td>
                                
                            </tr>
                            <tr>
                                <table border="1px" width="100%">
                                    <thead>
                                        <th><center>Nombre del proyecto</center> </th>
                                        <th><center>Ciudad</center> </th>
                                        
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> <center>{{ object.nombre_proyecto}}</center> </td>
                                            <td> <center>PASTO</center> </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                                
                            </tr>
                            
                            <table border="" width="100%"  >
                                <thead>
                                    <th><center>Alcance de la inspeccion</center> </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> <p>{{ object.alcance_inspeccion}}</p>  </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                            
                            <table border="" width="100%">
                                <thead>
                                    <th><center>Reunion de apertura</center> </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <ul>
                                                1. Presentacion del inspector <br>
                                                2. Verificación por parte del Inspector de la presencia del Constructor eléctrico o delegado con carta para el desarrollo de la inspección. En caso de que no esté presente la inspección deberá suspendida y programada posteriormente. <br>
                                                3. Diligenciamiento del Acta de Apertura y Cierre GIN-RG-08 con los pendientes documentales. <br>
                                                4. Diligenciamiento de la Evaluación Preliminar de Inspección GIN-RG-06 donde se verificarán todas las condiciones de seguridad del proyecto tanto para el inspector como del personal que acompaña la inspección. <br>
                                                5. Diligenciamiento de la declaración de imparcialidad. <br>
                                                6. Especificación de la ruta de inspección al cliente. <br>
                                            </ul>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                            
                            
                            <table border="" width="100%">
                                <thead>
                                    <th><center>Reunion de cierre</center> </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <ul>
                                                1. Informar al cliente por parte del inspector los resultados de la inspección, incluidas las no conformidades cuando aplican, <br>
                                                2. Firma del acta de apertura y cierre GIN-RG-08. <br>
                                            </ul>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                            
                            
                            
                        </tbody>
                    </table>
                    
                    <h6><b>D</b> Cierre documental, <b>S</b>Cierre con nueva visita de sitio, <b>C</b> Cumple, <b>NC</b> No cumple</h6>
                    <table border="" width="100%">
                        <tr>
                            <th><label style="width: 30px; height: 30px;" > <center><b> No.</b></center></label></th>
                            <th><center>Descripcion del hallazgo </center> </th>
                            <th><center>Codigo <br> Formato</center> </th>
                            <th><center>Cierre</center> </th>
                            <th><center>Fecha de <br> cierre NC</center> </th>
                            <th><center>Cumple</center> </th>
                            
                        </tr>
                        <tbody id="datosListaConformidades">
                            
                            
                        </tbody>
                    </table>

                
                    <h4><b> Observaciones:</b></h4>
                    {{ object.observaciones }}

                    <br><br><br>

                    
                    <h6>Se dispone de <b>Ciento Cincuenta (150) días</b>  calendario para el cierre de las no conformidades, de no ser corregidas en este periodo de tiempo se emitirá la certificación como no conforme.</h6>
                    
                    
                    <h6>Como resultado de esta inspecion la instalación: <b>Cumple</b>  <input type="text" style="width: 30px"> <b>No Cumple</b>  <input type="text" style="width: 30px"></h6>
                    <br><br>
                    
                    <table  width="100%">
                        <thead>
                            <th><center>AUTORIZACIÓN DE TRATAMIENTO DE DATOS PERSONALES</center> </th>
                            
                            
                        </thead>
                        <tbody >
                            
                            
                            <tr>
                                <td> <p class="text-justify "> <small> Servimeters S.A.S. actuará como responsable del tratamiento de datos personales de las personas que a continuación firman y que conjunta o separadamente podrá recolectar, usar y tratar los datos personales conforme la política de tratamiento de datos personales de Servimeters S.A.S. disponible en la página web de la compañía (www.servimeters.com), para todo lo relacionado con el servicio que me presta ella.
                                    
                                    Declaramos que hemos sido informados por Servimeters S.A.S. la (s) finalidad (es) de la recolección de los datos personales, según lo definido en protección de datos personales disponible en la página web de la compañía. 
                                    
                                    Mediante la página web de la compañía podremos radicar cualquier tipo de requerimiento relacionado con el tratamiento de mis datos personales.
                                    
                                    Teniendo en cuenta lo anterior, autorizamos de manera voluntaria, previa, explícita, informada e inequívoca a Servimeters S.A.S. para tratar los datos personales de acuerdo con su política de tratamiento de datos personales para los fines relacionados con el alcance del servicio y en especial para fines legales, contractuales, misionales descritos en la Política de tratamiento de datos personales de Servimeters S.A.S.. Igualmente, autorizó a Servimeters S.A.S. a modificar o actualizar la política, a fin de atender reformas legislativas, dando aviso previo por medio de la página web de Servimeters S.A.S. y/o correo electrónico.
                                    
                                    La información la hemos suministrado de forma voluntaria y es verídica. 
                                </small></p> </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    
                    <table border="" width="100%">
                        <tr>
                            <tr>
                                <th colspan="6"><center>ASISTENTES A LA REUNION</center> </th>
                            </tr>
                            <tr>
                                <th><center>Empresa</center> </th>
                                <th><center>Nombres y Apellidos </center> </th>
                                <th><center>Cargo</center> </th>
                                <th><center>Cedula</center> </th>
                                <th><center>Firma apertura</center> </th>
                                <th><center>Firma Cierre</center> </th>
                            </tr>
                            
                            
                            
                        </tr>
                        
                        <tbody id="datosListaAsistentes">
                            
                            <tr>
                                <td><center>SERVIMETERS</center></td>
                                <td><label type="text" style="width: 100px; height: 40px;">ALVARO ANDRES MORENO MORILLO</label></td>
                                <td><center>INSPECTOR</center></td>
                                <td><center>98.393.295</center></td>
                                <td>
                                    <label type="text" style="width: 100px; height: 40px;"></label>
                                </td>
                                <td>
                                    <label type="text" style="width: 100px; height: 40px;"></label>
                                </td>
                                
                            </tr>
                            
                            
                        </tbody>
                    </table>
                    
                    
                    
                    
                    
                    
                </div>
            </form>
            <br>
        </div>
    </div>
    <script src="{% static '/js/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/js/jquery-ui.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/js/jquery.validate.min.js' %}"></script>
    <script src="{% static '/js/jquery.bootstrap-wizard.js' %}"></script>
    <script src="{% static '/js/jquery.sharrre.js' %}"></script>
    <script src="{% static '/js/jquery-jvectormap.js' %}"></script>
    <script src="{% static '/js/jquery.select-bootstrap.js' %}"></script>
    <script src="{% static '/js/jquery.tagsinput.js' %}"></script>
    <script>
        
        $(document).ready(
        function cargarConformidad() {
            var id = $('#id').text();
            $.ajax({
                data : {'id':id},
                url: '/Inspeccion/DatosConformidades/',
                type: 'get',
                success: function(dataConformidades) {
                    var html = '';
                    console.log(dataConformidades);
                    for (let i = 0; i < dataConformidades.length; i++) {
                        
                        html += 
                        `<tr>
                            <td> 
                                <center> ${i+1} </center>
                            </td>
                            <td> 
                                
                                <p> ${dataConformidades[i].fields.descripcion}  </p>
                            </td>
                            <td> 
                                
                                <center> ${dataConformidades[i].fields.codigo_formato}</center>
                            </td>
                            <td> 
                                
                                <center> ${dataConformidades[i].fields.cierre}</center>
                            </td>
                            <td> 
                                
                                <center> ${dataConformidades[i].fields.fecha_cierre}</center>
                            </td>
                            <td> 
                                <center> ${dataConformidades[i].fields.cumple}</center>
                            </td>
                            
                            
                        </tr>`;
                        
                    }
                    
                    $('#datosListaConformidades').html(html);
                    
                }       
            });
            
            
            
        })
        
        
        
    </script>
    
    <script>
        
        
        $(document).ready(
        function cargarAsistentes() {
            var id = $('#id').text();
            $.ajax({
                data : {'id':id},
                url: '/Inspeccion/DatosAsistentes/',
                type: 'get',
                success: function(dataAsistentes) {
                    var html = '';
                    
                    html += `<tr>
                        <td><center>SERVIMETERS</center></td>
                        <td><label type="text" style="width: 300px; height: 5px;" class="text-center">ALVARO ANDRES MORENO MORILLO</label></td>
                        <td><center>INSPECTOR</center></td>
                        <td><center>98.393.295</center></td>
                        <td>
                            <label type="text" style="width: 100px; height: 40px;"></label>
                        </td>
                        <td>
                            <label type="text" style="width: 100px; height: 40px;"></label>
                        </td>
                        
                    </tr>`;
                    
                    console.log(dataAsistentes);
                    for (let i = 0; i < dataAsistentes.length; i++) {
                        
                        html += 
                        `<tr>
                            <td> 
                                <center class="text-uppercase"> ${dataAsistentes[i].fields.empresa} </center>
                            </td>
                            <td> 
                                
                                <center class="text-uppercase"> ${dataAsistentes[i].fields.nombre_apellido}  <center>
                                </td>
                                <td> 
                                    
                                    <center class="text-uppercase"> ${dataAsistentes[i].fields.cargo}</center>
                                </td>
                                <td> 
                                    
                                    <center class="text-uppercase"> ${dataAsistentes[i].fields.cedula}</center>
                                </td>
                                <td>
                                    <label type="text" style="width: 100px; height: 40px;"></label>
                                </td>
                                <td>
                                    <label type="text" style="width: 100px; height: 40px;"></label>
                                </td>
                                
                                
                            </tr>`;
                            
                        }
                        
                        $('#datosListaAsistentes').html(html);
                        
                    }       
                });
                
                
                
            })
            
        </script>
    </body>
    
    </html>
