{% load static %}     
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    
    <!-- Page Title -->
    <title>SCC</title>
    
    <!-- Compressed Styles -->
    <link href="{% static 'css/slides.min.css' %}" rel="stylesheet" type="text/css">
   
    <!-- Custom Styles -->
    <!-- <link href="{% static 'css/custom.css" rel="stylesheet" type="text/css"> -->
    
    <!-- jQuery 3.3.1 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- Compressed Scripts -->
    <script src="{% static 'js/slides.min.js' %}" type="text/javascript"></script>
    
    <!-- Custom Scripts -->
    <!-- <script src="js/custom.js" type="text/javascript"></script> -->
    
    <!-- Fonts and Material Icons -->
    <link rel="stylesheet" as="font" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700|Material+Icons"/>
    
    
    
</head>
<body class="slides chain simplifiedMobile animated">
    
    
    
    <!-- Navigation -->
    <nav class="side pole">
        <div class="navigation">
            <ul></ul>
        </div>
    </nav>
    
    <!-- Slide 1 (#09) -->
    <section class="slide fade-6 kenBurns">
        <div class="content">
            <div class="container">
                <div class="wrap">
                    
                    <div class="fix-12-12">
                        <div class="fix-8-12">
                            <h1 class="ae-3"> Control de Certificaciones</h1>
                            
                        </div>
                        
                        {% if not user.is_authenticated %}
                        
                        <center><a href="{% url 'login' %}" class="button blue gradient ae-7 fromCenter ">
                            <i class="material-icons">fingerprint</i> Autenticarse
                        </a></center> 
                        
                        {% else %}
                        
                        <a href="{% url 'base' %}" class="button blue gradient ae-7 fromCenter" >
                            autenticado: {% firstof request.user.get_full_name request.user.username %} | ENTRAR
                        </a>
                        
                        {% endif %}
                       
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="background" style="background-image:url({% static '/img/background/img-09.jpg' %} )"></div> 
    </section>
    
    
    
    
    
    <!-- Slide 4 (#89) -->
 
    
    
    
    <!-- Panel Bottom #15 -->
    <nav class="panel bottom lastSlideOnly">
        <div class="sections">
            <div class="center"><a href="http://andresmoreno.herokuapp.com/" class="opacity-8">por Andres Felipe Moreno</a></div>
        </div>
    </nav>
    
    <!-- Loading Progress Bar -->
    <div class="progress-bar blue"></div>
    
</body>
</html>
